@import url("animations.css");

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0, 100);
$dark: hsl(0, 0%, 9%);
$light: hsl(0, 0%, 90%);
$primary-color: hsl(25, 100%, 50%);

$pageWidth: 80%;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

nav {
	display: flex;
	padding: 2rem 7rem;
	justify-content: space-between;
	font-weight: 600;

	ul {
		list-style: none;
		display: inline-flex;
		align-items: center;

		a {
			padding: 0.7rem 1.5rem;
			text-decoration: none;
			color: $black;
		}
	}
}

.primary-btn {
	color: $white;
	padding: 0.7rem 1.5rem;
	background-color: $primary-color;
	border-radius: 4px;
	margin-left: 30px;
	position: relative;
	text-decoration: none;
}

.section-default {
	width: $pageWidth;
	margin: auto;
}

.container {
	display: flex;
	margin: auto;
	flex-direction: column;
}

.lead {
	display: flex;
	margin-top: 85px;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 0;
	height: 90vh;
	color: $white;
	background-size: cover;
	background-position: center;
	background-image: url("./images/image3.jpg");
	position: relative;

	&::before {
		background-color: rgba(0, 0, 0, 0.7);
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 0;
	}
}

#currentImages {
	font-weight: 600;
	font-style: italic;
}

.lead__title,
.lead__subtitle,
.lead__quick-info,
.section__title,
.section__subtitle {
	text-align: center;
	z-index: 1;
}

.section__subtitle {
	color: rgba(#000, 0.5);
	margin-top: 10px;
	font-weight: normal;

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.lead__quick-info {
	margin-top: 50px;
}

.navbar {
	background-color: $white;
	color: $black;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	user-select: none;

	.section__image-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		grid-gap: 10px;
		margin-top: 1rem;
		transition: 200ms;
	}

	.section__image-grid-image {
		cursor: pointer;
	}
}

footer {
	text-align: center;
	background: $dark;
	color: rgb(201, 201, 201);
	user-select: none;

	.footer {
		display: flex;
	}

	.footer__copyright {
		margin-top: 1rem;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
	color: $white;
	text-align: center;

	.modal__close {
		position: relative;
		color: hsl(0, 80%, 50%);
		font-weight: 900;
		font-size: 2rem;
		padding: 2rem 4rem 4rem 0;
		z-index: 5;
		display: block;
		float: right;
		cursor: pointer;
	}

	.modal__image-wrapper {
		width: 50%;
		margin: auto;
		padding-top: 10%;
	}

	.modal__caption {
		padding-top: 20px;
	}
}

// Animation

.lead__title,
.lead__subtitle {
	position: relative;
	animation-name: slideDown;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.lead__quick-info {
	position: relative;
	animation-name: slideUp;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.scrollDown {
	text-align: center;
	position: relative;

	animation-name: hover;
	animation-direction: alternate;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.image__wrapper {
	overflow: hidden;

	img {
		position: relative;

		animation-name: heartbeat;
		animation-direction: alternate;
		animation-duration: 10s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
}

.home__wrapper {
	animation-name: slideLeft;
	animation-direction: alternate;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

// Animation End

#scrollDown__caret {
	transform: rotate(90deg);
}

.modal {
	animation: zoom 0.2s ease-out;
}

.container-row {
	display: flex;
	flex-direction: row;
	margin: auto;
}

.bg-dark {
	background-color: $dark;
}

.bg-light {
	background-color: $light;
}

.container-row.uni {
	height: 100vh;
	overflow: hidden;

	.section__title {
		font-size: 1.5rem;
		padding: 25px 0;
	}
}

.form__wrapper {
	width: 50%;
	// TODD Fix Mobile Scaling
	// overflow-y: scroll;
}

.image__wrapper {
	width: 50%;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.brand__name {
	cursor: pointer;
}

.form {
	padding: 0 4rem 2rem 4rem;

	.form__group {
		display: flex;
		flex-direction: column;

		.primary-btn {
			margin: auto;
			margin-top: 20px;
			padding: 0.5rem 1rem;
		}

		textarea {
			resize: none;
			width: 100%;
			height: 8rem;
		}

		label {
			padding: 1rem 0 0.5rem 0;
		}

		input,
		textarea,
		input::file-selector-button {
			border: 2px solid rgba(#000, 0.5);
			border-radius: 4px;
			padding: 10px;

			&:focus-visible {
				border-color: rgb(250, 150, 79);
				outline: $primary-color solid 2px;
			}
		}

		input[type="file"] {
			border: 0;
		}
	}
}

.home__wrapper {
	position: absolute;
	object-fit: cover;
	width: 50%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.596);
	text-align: center;
	padding-top: 20%;
	display: none;

	a {
		color: $white;
		font-weight: bold;
		font-size: 2rem;
	}

	.home__subtitle {
		color: $white;
		text-decoration: none;
		font-weight: bold;
		font-size: 1rem;
	}
}
